* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wholepage {
  width: 100%;
}

nav {
  padding: 10px 7% 10px;
  background-color: rgb(255, 87, 5);
  color: white;
  font-size: 10px;
}

.shipping {
  float: left;
  clear: both;
  padding-right: 10px;
}
